@keyframes link-hover {
    0% { background-color: $lightYellow; color: $black; }
    25% { background-color: $black; color: $white; }
    50% { background-color: $lightYellow; color: $black; }
    100% { background-color: $black; color: $white; }
}
