@keyframes link-hover {
    0% { background-color: $lightYellow; color: $lightBlue; }
    25% { background-color: $lightBlue; color: $black; }
    50% { background-color: $lightYellow; color: $lightBlue; }
    100% { background-color: $lightBlue; color: $black; }
}
