// @font-face {
//     font-family: 'GT Walsheim';
//     src: url('../fonts/gt-walsheim-bold-webfont.woff2') format('woff2'),
//          url('../fonts/gt-walsheim-bold-webfont.woff') format('woff');
//     font-weight: bold;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'GT Walsheim';
//     src: url('../fonts/gt-walsheim-light-oblique-webfont.woff2') format('woff2'),
//          url('../fonts/gt-walsheim-light-oblique-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: 'GT Walsheim';
    src: url('../fonts/gt-walsheim-bold-oblique-webfont.woff2') format('woff2'),
         url('../fonts/gt-walsheim-bold-oblique-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('../fonts/gt-walsheim-light-webfont.woff2') format('woff2'),
         url('../fonts/gt-walsheim-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}







