// COLORS
$black: #222;
$lightYellow: #FEF9C7;
$lightBlue: #D4ECF7;
$white: #FFF;

// FONTS
$body-font: 'GT Walsheim', arial, sans-serif;
$default-line-height: 1.4;

// WIDTHS & SIZES
$site-width-small: 660px;
$site-width-medium: 840px;
$site-width-large: 1120px;
$site-max-width: 1140px;

$small: 540;
$medium: 680;
$medium-large: 900;
$large: 1200;
$extra-large: 1400;
$huge: 1700;

$gutter-xs: 10px;
$gutter-sm: 10px;
$gutter: 30px;
$gutter-lg: 60px;
$gutter-xl: 90px;

// Font sizes
$font-sizes-small: (
    h1: 32px,
    h2: 24px,
    h3: 20px,
    h4: 18px,
    body: 16px
);

$font-sizes-large: (
    h1: 60px,
    h2: 42px,
    h3: 30px,
    h4: 24px,
    body: 20px
);
