// COLORS
$black: #222;
$lightYellow: #ffff4e;
$lightBlue: #D4ECF7;
$white: #FFF;
$gray: #eee;

// FONTS
$body-font: 'GT Walsheim', arial, sans-serif;
$default-line-height: 1.4;

// WIDTHS & SIZES
$site-width-small: 660px;
$site-width-medium: 840px;
$site-width-large: 1120px;
$site-max-width: 1140px;

$small: 540;
$medium: 680;
$medium-large: 900;
$large: 1200;
$extra-large: 1400;
$huge: 1700;

$gutter-xs: 10px;
$gutter-sm: 10px;
$gutter: 30px;
$gutter-lg: 60px;
$gutter-xl: 90px;

// Font sizes
$font-sizes-small: (
    h1: 3.2rem,
    h2: 2.4rem,
    h3: 2rem,
    h4: 1.8rem,
    body: 1.6rem
);

$font-sizes-large: (
    h1: 6rem,
    h2: 4.2rem,
    h3: 3rem,
    h4: 2.4rem,
    body: 2rem
);
