.experience {
    margin-bottom: 4rem;
    // font-size: map-get($font-sizes-small, h4);

    @include bp-min($small) {
        font-size: map-get($font-sizes-large, h4);
    }

    @include bp-min($large) {
        margin-bottom: 8rem;
    }
}
