.intro {
    padding-top: 1em; padding-bottom: 1em;
    margin-top: 0; margin-bottom: 0;
    font-size: 2em;
    @include content(medium);
    @include bp-min($small) {
        font-size: 3.5em;
    }
}
