/**
 * Featured list
 */
.list--featured {
    @include list-reset;
    @include clearfix;
    position: relative; margin: 0 10px 40px 10px;
}
.list--featured__item {
    position: relative; float: left;
    overflow: hidden;
    width: 100%; margin: 0 0 20px 0;
    @include bp-min($small) {
        width: calc(100% / 2 - 20px);
        margin: 0 10px 20px 10px;
    }
}
.list--featured__item h3 {
    margin-top: 10px; margin-bottom: 0;
}
.list--featured__item p {
    margin: 0; margin-bottom: 20px;
}

// .list--featured__item a {
//     text-decoration: none;
//     color: $black; transition: color .15s ease-out;
// }


/**
 * Overview list
 */
.list--overview {
    @include list-reset;
    display: flex;
    flex-direction: column;
}
.list--overview__item {
    display: flex;
    margin-bottom: 15px;
}
.list--overview__item figure {
    width: 25%;
    margin-right: 15px;
    flex-shrink: 0;
}
.list--overview__item h3 {
    margin-top: 0;
}
