ul {
    margin-top: 0;
}

/**
 * Featured list
 */
.list--featured {
    @include list-reset;
    margin-bottom: 0; margin-left: -10px; margin-right: -10px;
    display: flex; flex-wrap: wrap;
}
.list--featured__item {
    position: relative;
    padding: 0 10px;
    margin-bottom: 2rem;
    width: 100%;
    @include bp-min($small) {
        margin-bottom: 4rem;
        width: 50%;
    }
    @include bp-min($large) {
        margin-bottom: 2rem;
    }
}
.list--featured__item:hover .list--featured__heading {
    opacity: 1;
}
.list--featured__item a {
    text-decoration: none;
}
.list--featured__heading {
    @include bp-min($large) {
        padding: 8rem;
        opacity: 0; transition: opacity .1s ease-out;
        position: absolute; left: 10px; right: 10px; top: 0; bottom: 0;
        display: flex; align-items: center; justify-content: center; flex-direction: column;
        background-color: rgba($color: $black, $alpha: .95);
        color: $white; text-align: center;
    }
}
.list--featured__heading h3 {
    margin-top: 10px; margin-bottom: 0;
}
.list--featured__heading p {
    margin-bottom: 0;
}

/**
 * Overview list
 */
.list--overview {
    @include list-reset;
    display: flex;
    flex-direction: column;
}
.list--overview__item {
    display: flex;
    margin-bottom: 15px;
}
.list--overview__item figure {
    width: 25%;
    margin-right: 15px;
    flex-shrink: 0;
}
.list--overview__item h3 {
    margin-top: 0;
}
