.overlay {
    position: fixed; top: 0; bottom: 0; left: 0; right: 0;
    z-index: 10;
    display: none;
    background-color: $white;
    // background: linear-gradient(to bottom, #FCF07A 0%,#7AFCEF 100% );
}
.overlay:target {
    display: block;
}
