.site-footer {
    padding: 2em 0;
    background: $black;
    color: $white;

    @include bp-min($small) {
        padding: 3em 0;
    }
}
.site-footer ul {
    @include list-reset;
    margin-bottom: 4rem;
    display: flex; flex-direction: column;
    @include bp-min($small) {
        flex-direction: row;
    }
}
.site-footer p + ul {
    margin-top: -2rem;
}

.site-footer li {
    margin-right: 10px;
    padding: 3px 0;
    display: inline-block;

    @include bp-min($small) {
        padding: 0;
    }
}
.site-footer a {
    color: inherit;
}
