/*
 * Typography
 */
html {
    font-size: 62.5%; line-height: $default-line-height;
    -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: $body-font; font-weight: normal; font-size: map-get($font-sizes-small, body);
    color: $black;
    @include bp-min($small) {
        font-size: map-get($font-sizes-large, body);
    }
}

p {
    margin-top: 0; margin-bottom: 2rem;
}

a {
    color: $black; text-decoration: underline;

    @include hocus {
        text-decoration: none;
    }
}

.content-container p a {
    padding: 0 .1em;
    background: $lightYellow;
    transition: background .1s ease-out, color .1s ease-out;
    text-decoration: none;

    @include hocus {
        text-decoration: none;
        animation: link-hover .15s forwards;
    }
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
    margin-top: 0; margin-bottom: 1rem;
}

h1,
.h1 {
    font-size: map-get($font-sizes-small, h1);
    @include bp-min($small) {
        font-size: map-get($font-sizes-large, h1);
    }
}

h2,
.h2 {
    font-size: map-get($font-sizes-small, h2);
    @include bp-min($small) {
        font-size: map-get($font-sizes-large, h2);
    }
}

h3,
.h3 {
    font-size: map-get($font-sizes-small, h3);
    @include bp-min($small) {
        font-size: map-get($font-sizes-large, h3);
    }
}

h1 + p,
.h1 + p {
    margin-top: -1.5rem;
}

h3 + p,
.h3 + p,
h4 + ul,
.h4 + ul {
    margin-top: -.5rem;
}

code {
    padding: .25em .2em;
    background: $gray !important;
    font-size: .85em;
}
