@import './vendor/normalize';
@import './utility/variables';
@import './utility/animations';
@import './utility/functions';
@import './utility/mixins';
@import './utility/fonts';
@import './utility/utils';

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

figure {
    @include clearfix;
    margin: 0;
}

/*
 * Media
 */
img,
object,
iframe,
video {
    max-width: 100%; width: auto; height: auto;
}

@import './layout/typography';
@import './layout/content';

@import './modules/experience';
@import './modules/intro';
@import './modules/lists';
@import './modules/overlay';
@import './modules/project-showcase';
@import './modules/site-header';
@import './modules/site-footer';
